body {
    padding: 0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

@media (max-width: 600px) {
    /* Adjust styles for smaller screens (e.g., phones) */
    #gifContainer {
        max-height: 30vh;
    }

    #noButton {
        padding: 8px 15px;
    }
}

#gifContainer {
    position: absolute;
    user-select: none;
    margin-bottom: 170px;
}

#noButton {
    position: absolute;
    cursor: pointer;
    background-color: #ff9e9d;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    margin-left: 200px;
    margin-top: 300px;
}

#yesButton{
    position: absolute;
    cursor: pointer;
    background-color: #ff9e9d;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    margin-right: 200px;
    margin-top: 300px;
}

#happy{
    display: none;
    height: 300px;
}

#h1{
    font-size: 15px;
    display: none;
    margin-left: 20px;
}
